body{
    background-image: url("../img/metal_dimmed.png");
    font-family: 'Montserrat', sans-serif;
    background-color: #101010;
    color: white;
}

.material-symbols-outlined{
    font-size: 3rem;
    color:#ad0101;
    margin-right: 1rem;
    font-weight: lighter;
}

.navbar{
    font-size: 1.3rem;
    font-weight: bold;
    z-index: 100;
}


.navbar-dark {
	--bs-navbar-color: rgb(255, 255, 255);
    width:100%;
}

.nav-icon{
    height: 5rem;

}

.nav-item{
    display: flex;
    align-items: center;
    padding-left: 3rem;
}

.nav-link:hover{
    color:#ad0101;
}

.section{
    background-size: cover;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-bottom: 3rem !important;
    color: #dbdbdb;
}

.hero-bottom-text{
    width: 60%;
}

.section-hero{
    background-color: #101010;
}

.employee-picture{
    width: 300px;
    height: 300px;
}

.service-section{
    padding-left: 10rem;
    padding-right: 10rem;

    padding-bottom: 0;
}

.icon-text{
    display: flex;
    align-items: center;
}

.row-service{
    padding-bottom: 7rem;
}

.q-items-container{
    padding-right: 10rem;
    padding-left: 10rem;

    display: flex;
    justify-content: center;
}

.qualifications-item{
    padding-bottom: 3rem;
    text-align: left;
}

.qualifications-item > .d-flex{
    align-items: center;
}

[class*="col-"] > .material-symbols-outlined{
    font-size: 5rem;
    font-weight: lighter;
    margin:0;
}
.col-1 > .material-symbols-outlined{
    font-size: 5rem;
    font-weight: lighter;
    margin:0;
}


.service-image{
    width: 100%;
    height: 100%;
    mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.service-image-lg{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.structual-item{
    display: flex;
    align-items: center;
}

.structual-item > .h5, h5 {
    font-size: 1.4rem;
}

.icon{
    color: #ad0101;
    height: 50px;
    width: 50px;
}

.w-85 {
	width: 85% !important;
}

.course-container {
    border-radius: 10px;
    border: 1px solid #ffffff;
    padding: 20px;
    margin: 3rem;
    width: 30%;
    min-width: 200px;
    transition: 300ms;
    text-align: center;
    display: flex;
}

.course-container > .h5{
    width: 100%;
    align-self: center;
}

.course-container:hover {
    border: 1px solid #ad0101;
    color: #ad0101;
}

.icon {
	margin-right: 3rem !important;
}

.display-1, .h2{
    
    font-weight: bold;
}

.h3, .h4, .h5, .display-3{
    font-weight: lighter;
}

.hero{
    position: relative; 
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px !important;
}

.hero-text{
    margin-top:3rem;
    text-align: left;
    width: 85% !important;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    background-color: rgba(0, 0, 0, 0.4);
}

.hero-landing::before{
    background-image: url('../img/background.png');
    background-size: cover;
}

#training{
    padding-bottom:3rem;
}

.hero-training::before{
    background-image: url('../img/Instruction.png');
    background-color: rgba(0, 0, 0, 0.75) !important;
    background-size: cover;
    opacity: .4;
}

#training-text{
    margin-right: 3rem !important;
    margin-left: 3rem !important;
}

@media only screen and (max-width: 1596px) {
    .service-section{
        padding:3rem;
    }
    .structual-item > .h5, h5 {
        font-size: 1.25rem;
    }
    
}

@media only screen and (max-width: 1240px) {
    .nav-item{
        padding-left: 3rem;
    }
    .nav-icon{
        display: none;
    }
    .nav-icon-sm{
        display: block !important;
    }
    .service-section{
        padding:0;
    }
    
}

@media (max-width: 991px) {
    [class*="col-"] > .material-symbols-outlined {
        font-size: 4rem;
        font-weight: lighter;
        margin: 0;
    }
    .icon-text > .material-symbols-outlined {
        font-size: 4rem !important;
        font-weight: lighter;
        margin: 0;
    }
    .section{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .icon {
        margin-right: 1rem !important;
    }

    .hero-bottom-text{
        width: 100% !important;
    }
    .employee {
      flex-direction: column !important;
      
    }
    .employee-picture{
        margin-bottom: 3rem !important;
    }
    .q-items-container{
        padding: 0;
    }
    .qualifications-item{
        padding-left: 2rem;
        text-align: left;
    }
    .row-service {
        width: 100% !important;
        padding-bottom: 6rem;
    }
    .service-item-container{
        padding-top: 0;
        padding-bottom: 0!important;
        width: 100% !important;
    }
    .service-image {
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 70%;
        mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));

    }
    .service-image-container{
        padding: 0 !important;
        width: 100% !important;
    }
    .service-text-container{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .service-section{
        /*do for medium*/
        padding: 0;
    }
    .course-container{
        width: 100% !important;
        margin: 1rem;
    }
    .hero-training{
        padding
        : 0 !important;
    }
    #training-text{
        margin-right: 0rem !important;
        margin-left: 0rem !important;
    }
    .display-3 {
        font-size: calc(1.4rem + 3.3vw);
        font-weight: 300;
        line-height: 1.2;
    }
    .h2, h2 {
        font-size: calc(1.2rem + .9vw);
    }
    .h4, h4 {
        font-size: calc(1.2rem + .3vw);
    }
    .pb-5{
        padding-bottom: 1rem !important;
    }
    .py-5{
        padding: 1rem !important;
    }
    .w-75{
        width: 100% !important;
    }    
    .pb-5{
        padding-bottom: 1rem !important;
    }
  }

@media only screen and (max-width: 991px){
    .navbar-dark{
        background-color: #0f0f0fed;
    }
  }
  

@media only screen and (max-width:990px) {

}

@media only screen and (max-width:600px) {
    .service-image{
        width: 100%
    }
}


